@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lumanosimo', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: lightgreen;
}

.title {
    text-align: center;
    letter-spacing: 5px;
    margin: 10px 0 30px 0;
    text-transform: uppercase;
    color: #137a0a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.container img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    border: 2px solid #ffff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}